.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 5px;
}
.wrapper > div {
    background: grey;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background-color: rgb(201, 171, 171);
}